.title {
  font-size: 80px !important;
}

.quarto-title-author-name {
  font-size: 20px;
  list-style-type: none;  /* Removes the bullet points */
  padding-left: 0;  /* Removes the default padding */
  text-align: left;  /* Aligns the authors to the left */
}

.date {
  font-size: 20px;
}

/* Styling the author names on the title slide */
.reveal .title-slide .quarto-title-author-name ul {
  list-style-type: none; /* Remove bullet points */
  padding-left: 0; /* Remove default padding */
  text-align: left; /* Align to the left */
}

.reveal .title-slide .quarto-title-author-name li {
  margin-bottom: 5px; /* Space between names */
  font-size: 20px; /* Set font size for authors */
}